.portfolio_container {
    display: grid;
    grid-template-columns: 200fr 1fr;
    gap: 2.5rem;
}

.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin: auto 2rem;
}

button.rec-dot {
    background-color: rgb(74, 74, 74);
    box-shadow: 0 0 1px 3px rgba(75, 75, 75, 0.5);
}



/* button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
    box-shadow: 0 0 1px 3px rgba(168, 168, 168, 0.5);
} */


.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* =====================Media queries (medium devices) =====================*/
@media screen and (max-width:1024px) {

    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =====================Media queries (smalldevices) =====================*/
@media screen and (max-width:600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}